name: Fetch Res

on:
  workflow_dispatch:
    inputs:
      skip-tests:
        description: 'Skip running tests'
        required: false
        default: false
        type: boolean

jobs:
  Fetch-Wiki:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@master

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.12

      - uses: actions/setup-node@v4
        with:
          node-version: '20.18.1'

      - name: Install Dependencies
        run: |
          python -m pip install uv
          uv sync --all-extras

      - name: Fetch Remote Files
        run: |
          cd compiler
          uv run python main.py
          cd hsr-optimizer-api
          npm install -g pnpm
          pnpm install
          npm run build
          cd ../..
          uv run ruff format .

      - name: Test New files
        if: ${{ inputs.skip-tests == false }}
        run: |
          uv run pytest

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Commit changes
        run: |
          git add .
          git commit -S -m ":bento: Update res"
          git push
